*,
*::after,
*::before {
    margin: 0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: black;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 1.1fr 1.3fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    height: 100vh;
    margin: 2rem;
}
.par {
    width: 70%;
    
}
.main {
    // grid-column: 1 / 3;
    // grid-row: 1 / 3;
    //same thing
    grid-area: 1 / 1 / 3 / 3;
    background-color: #ECECEC;

    &__title {
        padding: 2rem 0 2rem 1.5rem;
    }
    &__desc {
        padding: 1rem 0 2.5rem 1.5rem;
        font-weight: 500;
    }
    &__p {
        padding: 0 0 0 1.5rem;
        line-height: 2.5rem;
    }
}
.nom {
    display: flex;
    align-items: center;
    text-align: center;
    grid-area: 3 / 1 / 3 / 1;
    background-color: #90CCF4;
    position: relative;

    &__title {
        margin: 0 auto;
    }
}
.yum {
    display: flex;
    align-items: center;
    grid-area: 3 / 2 / 4 / 3;
    background-color: #5DA2D5;
    text-align: center;
    
    &__title {
        margin: 0 auto;
    }
}
.diabetes {
    display: flex;
    align-items: center;
    grid-area: 4 / 1 / 5 / 3;
    background-color: #1f1f1f;
    
    &__title {
        color:white;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .3rem;
        margin: 0 auto;
    }
}

.food {
    grid-area: 2 / 3 / 5 / 5;
    background-image: url("/img/banana.jpg");
    background-size: cover;
}

h3 {
    color: #F78888;
}
//////////////////////////////////////
//nav bar / hamburger
.header {
    grid-area: 1 / 3 / 2 / 5;
    background-color: white;
    padding: .5rem;
    &__nav {
        text-decoration: none;
        color: #F78888;
    }
}
.nav {
    width: 100%;
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        display: inline-block;
        padding: 5px;
        box-sizing: border-box;
    }
}

#page-nav {
    // width: 100%;
}
#page-nav label, #ham-label {
    display: none;
}






////////////////////////////////////////////////
//second way to grid:
/*
.grid-container {
    grid-template-areas:
        "main main header"
        "main main food"
        "nom yum food"
        "diabetes diabetes food";
    }
.main {
    grid-area: main;
}
.nom {
    grid-area: nom;
}
.yum {
    grid-area: yum;
}
.diabetes {
    grid-area: diabetes;
}
.food {
    grid-area: food;
}
.header {
    grid-area: header;
}
*/